// Colores
$color-primario: #2ecc71 // Verde éxito
$color-secundario: #34495e // Azul oscuro profesional
$color-fondo: #f4f7f6
$color-texto: #333
$color-peligro: #e74c3c // Rojo para errores o eliminar

// Fuentes
$fuente-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

// Espaciados
$padding-base: 20px
$border-radius: 8px